<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Annotation Tool</display-name>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateUser</display-name>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>servlets.CreateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyMyself</display-name>
		<servlet-name>ModifyMyself</servlet-name>
		<servlet-class>servlets.ModifyMyself</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyMyself</servlet-name>
		<url-pattern>/ModifyMyself</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteUser</display-name>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>servlets.DeleteUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyUser</display-name>
		<servlet-name>ModifyUser</servlet-name>
		<servlet-class>servlets.ModifyUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyUser</servlet-name>
		<url-pattern>/ModifyUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadText</display-name>
		<servlet-name>UploadText</servlet-name>
		<servlet-class>servlets.UploadText</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadText</servlet-name>
		<url-pattern>/UploadText</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadDocuments</display-name>
		<servlet-name>UploadDocuments</servlet-name>
		<servlet-class>servlets.UploadDocuments</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadDocuments</servlet-name>
		<url-pattern>/UploadDocuments</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadCsv</display-name>
		<servlet-name>UploadCsv</servlet-name>
		<servlet-class>servlets.UploadCsv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadCsv</servlet-name>
		<url-pattern>/UploadCsv</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateStandard</display-name>
		<servlet-name>CreateStandard</servlet-name>
		<servlet-class>servlets.CreateStandard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateStandard</servlet-name>
		<url-pattern>/CreateStandard</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteStandard</display-name>
		<servlet-name>DeleteStandard</servlet-name>
		<servlet-class>servlets.DeleteStandard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStandard</servlet-name>
		<url-pattern>/DeleteStandard</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyStandard</display-name>
		<servlet-name>ModifyStandard</servlet-name>
		<servlet-class>servlets.ModifyStandard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyStandard</servlet-name>
		<url-pattern>/ModifyStandard</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateProject</display-name>
		<servlet-name>CreateProject</servlet-name>
		<servlet-class>servlets.CreateProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateProject</servlet-name>
		<url-pattern>/CreateProject</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteCollection</display-name>
		<servlet-name>DeleteCollection</servlet-name>
		<servlet-class>servlets.DeleteCollection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCollection</servlet-name>
		<url-pattern>/DeleteCollection</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteReport</display-name>
		<servlet-name>DeleteReport</servlet-name>
		<servlet-class>servlets.DeleteReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteReport</servlet-name>
		<url-pattern>/DeleteReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteFromCollection</display-name>
		<servlet-name>DeleteFromCollection</servlet-name>
		<servlet-class>servlets.DeleteFromCollection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFromCollection</servlet-name>
		<url-pattern>/DeleteFromCollection</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MoveToCollection</display-name>
		<servlet-name>MoveToCollection</servlet-name>
		<servlet-class>servlets.MoveToCollection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoveToCollection</servlet-name>
		<url-pattern>/MoveToCollection</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteProject</display-name>
		<servlet-name>DeleteProject</servlet-name>
		<servlet-class>servlets.DeleteProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteProject</servlet-name>
		<url-pattern>/DeleteProject</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyProject</display-name>
		<servlet-name>ModifyProject</servlet-name>
		<servlet-class>servlets.ModifyProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyProject</servlet-name>
		<url-pattern>/ModifyProject</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AnnotateReport</display-name>
		<servlet-name>AnnotateReport</servlet-name>
		<servlet-class>servlets.AnnotateReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnnotateReport</servlet-name>
		<url-pattern>/AnnotateReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>toXMLServlet</display-name>
		<servlet-name>toXMLServlet</servlet-name>
		<servlet-class>servlets.toXMLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toXMLServlet</servlet-name>
		<url-pattern>/toXMLServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteAnnotation</display-name>
		<servlet-name>DeleteAnnotation</servlet-name>
		<servlet-class>servlets.DeleteAnnotation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAnnotation</servlet-name>
		<url-pattern>/DeleteAnnotation</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DownloadAnnotations</display-name>
		<servlet-name>DownloadAnnotations</servlet-name>
		<servlet-class>servlets.DownloadAnnotations</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadAnnotations</servlet-name>
		<url-pattern>/DownloadAnnotations</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AutomaticAnnotationReport</display-name>
		<servlet-name>AutomaticAnnotationReport</servlet-name>
		<servlet-class>servlets.AutomaticAnnotationReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutomaticAnnotationReport</servlet-name>
		<url-pattern>/AutomaticAnnotationReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AutomaticAnnotationBatch</display-name>
		<servlet-name>AutomaticAnnotationBatch</servlet-name>
		<servlet-class>servlets.AutomaticAnnotationBatch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutomaticAnnotationBatch</servlet-name>
		<url-pattern>/AutomaticAnnotationBatch</url-pattern>
	</servlet-mapping>

      <servlet>
    <description></description>
    <display-name>CopyStandard</display-name>
    <servlet-name>CopyStandard</servlet-name>
    <servlet-class>servlets.CopyStandard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyStandard</servlet-name>
    <url-pattern>/CopyStandard</url-pattern>
  </servlet-mapping>

<!-- SSL settings. only allow HTTPS access to annotationTool -->
    <security-constraint>
    <web-resource-collection>
    <web-resource-name>annotationTool</web-resource-name>
    <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
    </security-constraint> 
</web-app>